name: Test Docker CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: sudo ./startup.sh
      - name: Run unit tests
        run: docker exec -i nest_container npm test
      - name: Stop all containers
        run: docker-compose down